// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.


$enable-cssgrid: true;

$red: #e9121b; 
$primary: $red;  

$font-family-sans-serif: "Open Sans Condensed", sans-serif;
$headings-font-family: "Source Sans Pro", sans-serif;

$btn-border-radius: 0;
$btn-border-radius-sm: 0;
$btn-border-radius-lg: 0;

$dropdown-border-radius: 0;
