// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.
@use "sass:map";

$enable-cssgrid: true;

$red: #e9121b; 
$primary: $red;  

$font-family-sans-serif: "Open Sans Condensed", sans-serif;

$headings-font-family: "Source Sans Pro", sans-serif;
$headings-font-weight: 600;

$display-font-weight: 500 !default;

$font-size-base: 1.2rem;

$h1-font-size:                $font-size-base * 4 !default;
$h2-font-size:                $font-size-base * 3 !default;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 5,
  8: $spacer * 6,
  9: $spacer * 7
);

$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;

$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%),
  "2x3":  calc(3 / 2 * 100%),
  "3x4":  calc(4 / 3 * 100%) 
);

$card-border-width: 0;

$slick-font-path: "./fonts/";
$slick-font-family: "FontAwesome";
$slick-loader-path: "./../images/";
$slick-arrow-color: black;
$slick-dot-color: black;
$slick-dot-color-active: $slick-dot-color;
$slick-prev-character: "\f0d9"; 
$slick-next-character: "\f0da";
$slick-dot-character: "\f111";






