#team {
  #team-board {
    background-image:url('./../images/b-lines-white-transparent.png');
    background-repeat: no-repeat;
    background-position: 90% 65%;
    background-size: auto 60%;
  }

  #team-staff {
    text-align: end;
    background-image:url('./../images/b-lines-black-transparent.png');
    background-repeat: no-repeat;
    background-position: -10%;
    background-size: auto 60%;
  }
}