#single-page {
  .entry-content{
    columns: 3;
    text-align: justify;

    img {
      width: 100%;
    }

    @include media-breakpoint-down(xl) {
      columns: 2;
    }
  
    @include media-breakpoint-down(md) {
      columns: auto;
    }
  }

  
}