#media {
  #media-news, #media-galleries {
    a {
      text-decoration: none;
      color: $white;

      .news-title {
        background-color: rgba(0, 0, 0, 0.5);
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}