#artists {
  h2 {
    text-transform: uppercase;
  }

  #artists-invited {
    h2 {
      text-align: end;
    }
  }

}

.artist-carousel {
  .slick-slide {

    a {
      text-decoration: none;
    }

    .image {
      background-size: cover;
      background-position: center;
      height:100%;
      display: flex;
      align-items: flex-end;
      border: 1px solid $white;
    }

    .slide-content {
      padding: 1rem;
      color: $white;
      text-shadow: 0 0 2px $black;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
    }
  }
}

.gallery-carousel, .gallery-display {
  .slick-slide {
    .image {
      background-size: cover;
      background-position: center;
      height:100%;
    }
  }
}