#team {
  #team-board {
    background-image:url('./../images/2-b-lines-white.png');
    background-repeat: no-repeat;
    background-position: 105%;
    background-size: auto 105%;
  }

  #team-staff {
    text-align: end;
    background-image:url('./../images/2-b-lines-black.png');
    background-repeat: no-repeat;
    background-position: -20%;
    background-size: auto 115%;
  }
}