#volunteers {

  #volunteers-gallery{
    background-size: 500px;
    background-position-x: 100%;
    background-position-y: 98%;
  }

  .wpcf7 {
    margin: 0 0 !important;
    max-width: none;
  }

  #volunteers-testimonies {
    .slick-track {
      display: flex;
      align-items: stretch;
      
      .slick-slide {
        height: auto;

        & > div {
          height: 100%;
          display: flex;
          align-items: stretch;
        }
      }
    }
  }
}