#concert {

  .concert-info {

    .concert-social {
      text-transform: uppercase;

      a {
        text-decoration: none;
      }
    }

    .concert-map {
      filter: grayscale(100%);
    }

    .concert-date {
      font-weight: 700;
    }

    .concert-live, .concert-price, .concert-instrument, .concert-venue, .concert-date {
      display: flex;
      align-items: center;
      margin-bottom: 0.5em;

      i {
        margin-right: 1em;
      }
    }

    @include media-breakpoint-down(md) {
      background-color: $light;

      .concert-map {
        margin-right: - calc($grid-gutter-width / 2);
        margin-left: - calc($grid-gutter-width / 2);
      }
    }
  }

  #concert-ticket {
    
    .ticket-card {
      color: $white;
      text-decoration: none;

      &>div {
        background-color: $primary;
      }

      &:hover {
        color: $white;

        &>div {
          background-color: $black;
        }
      }
    }
  }
}